    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                 <!-- The drop down menu -->
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <% if empleado_signed_in? %>              
                <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= current_empleado.email %> <strong class="caret"></strong> </a>
                <ul class="dropdown-menu">              
                  <% if Empleado.find_by_email(current_empleado.email).administrador? %> 
                    <li> <%= link_to 'Agregar Empleados', new_addempleado_path  %></li>          
                    <li> <%= link_to 'Agregar Rutas', new_rutum_path  %></li> 
                    <li> <%= link_to 'Agregar Terminal', new_terminal_path %></li> 
                  <% end %>
                  <li class="divider"></li>
                  <li> <%= link_to 'Sign out', destroy_empleado_session_path, :method => :delete %>   </li>
                 </ul>                              
                <% else %>
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">               
                <!-- <%= link_to 'Sign up', new_empleado_registration_path %> --> or 
                  <form accept-charset="UTF-8" action="/empleados/sign_in" class="new_empleado" id="new_empleado" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
                    <input name="authenticity_token" type="hidden" value="pLb2Tof7yQ8/ha0TIEmUdB5r2oUuyCwpnu8BwYlgA2Q=" /></div>
                   <input autofocus="autofocus" id="empleado_email" name="empleado[email]" type="email" value="" style="margin-bottom: 15px; color: black;" size="30" placeholder="email del empleado" />        
                   <input id="empleado_password" name="empleado[password]" type="password" style="margin-bottom: 15px; color: black;" size="30"  placeholder="contraseña" />
                   <input name="empleado[remember_me]" type="hidden" value="0" />
                    <input id="empleado_remember_me" name="empleado[remember_me]" style="float: left; margin-right: 10px;" type="checkbox" value="1" /> 
                   <label for="empleado_remember_me" style="color: black" >Recordame</label>
                   <input class="btn btn-primary"  style="clear: left; width: 100%; height: 32px; font-size: 13px;"  name="commit" type="submit" value="Sign in"/>
                  </form>  
                       </div>
                <% end %>  
                  
              </li>
            </ul>
            <a class="brand" href="#">Transporte Discovery</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
               <li><%= link_to 'Inicio', root_path %></li>
                <li><%= link_to 'Horarios', horarios_path %></li>   
                <li><%= link_to 'E-Ticket!', recibo_index_path %></li>   
                <li><a href="javascript:void(0)" onclick="saludo()">Contacto</a></li>                  
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
      <!-- --------------------------------------empezamos a programar el bolento------------------------------------------------- -->
    <br>
      <h1>Datos del Recibo</h1>   

    <table style="height:400px; margin-left: auto; margin-right: auto;">
      <tr>
        <td valign="middle">
          <div class="options round-corners">
            <div class="optionstable">            
              <div id="content_Pasajero1" class="Pasajero-1">
                <div id="content_UpdatePanelPRecios1">
                  <table style="">
                    <tr>
                      <td class="align-right">Nombre:</td> 
                      <td class="align-left" colspan="7">
                        <input name="ctl00$content$TextBoxNombre1" type="text" maxlength="30" id="content_TextBoxNombre1" style="width:200px;" />
                        <span id="content_TexBoxNombre1Validator" style="display:none;"></span>
                        <input type="hidden" name="ctl00$content$_ClientState" id="content__ClientState" />
                      </td>                      
                    </tr>
                    <tr>
                      <td class="align-right">Apellido:</td>
                      <td class="align-left" colspan="7">
                        <input name="ctl00$content$TextBoxApellido1" type="text" maxlength="30" id="content_TextBoxApellido1" style="width:200px;" />
                        <span id="content_TextBoxApellido1Validator" style="display:none;"></span>
                        <input type="hidden" name="ctl00$content$ValidatorCalloutExtender1_ClientState" id="content_ValidatorCalloutExtender1_ClientState" />
                      </td>
                    </tr>
                    <tr>
                      <td class="align-right">Documento:</td>
                      <td class="align-left" colspan="1">
                      <select name="ctl00$content$DDLDocumento1" id="content_DDLDocumento1" style="width:165px;">
                        <option value="1">Cedula de Identidad</option>
                        <option value="2">Partida de Nacimiento</option>
                        <option value="3">Licencia de Conducir</option>
		                    <option value="4">Pasaporte</option>
		                  </select>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="1">Numero :</td>
                      <td colspan="1">
                        <input name="ctl00$content$TextBoxNumero1" type="text" maxlength="15" id="content_TextBoxNumero1" style="width:100px;" />
                        <span id="content_TextBoxNumero1Validator" style="display:none;"></span>
                        <input type="hidden" name="ctl00$content$ValidatorCalloutExtender2_ClientState" id="content_ValidatorCalloutExtender2_ClientState" />
                      </td>
                    </tr>
                    <tr>
                      <td>Nacionalidad:</td>
                      <td>
                        <select name="ctl00$content$DDLNacionalidad1" id="content_DDLNacionalidad1" style="width:110px;">
                          <option value="1">Afganist&#225;n                                             </option>
	                      	<option value="2">Albania                                                      </option>
	                       	<option value="3">Alemania                                                     </option>
		                      <option value="4">Altos del Gol&#225;n                                         </option>
	                      	<option value="5">Andorra                                                      </option>
		                      <option value="6">Angola                                                       </option>
		                      <option value="7">Antigua y Barbuda                                            </option>
		                      <option value="8">Antillas Francesas                                           </option>
		                      <option value="9">Antillas Holandesas                                          </option>
	                      	<option value="10">Arabia Saudita                                              </option>
	                      	<option value="11">Argelia                                                     </option>
		                      <option value="12">Argentina                                                   </option>
		                      <option value="13">Armenia                                                     </option>
	                      	<option value="14">Australia                                                   </option>
	                      	<option value="15">Austria                                                     </option>
	                      	<option value="16">Azerbaiyan                                                  </option>
		                      <option value="17">Bahamas                                                     </option>
		                      <option value="18">Bahrein                                                     </option>
		                      <option value="19">Bangladesh                                                  </option>
	                       	<option value="20">Barbados                                                    </option>
	                      	<option value="21">B&#233;lgica                                                </option>
		                      <option value="22">Belice                                                      </option>
                          <option value="23">Benin-Dahomey                                               </option>
	                      	<option value="24">But&#225;n                                                  </option>
                          <option value="25">Bielorrusia                                                 </option>
	                      	<option value="26">Birmania                                                    </option>
                      		<option value="27">Bolivia                                                     </option>
	                      	<option value="28">Bosnia Herzegovina                                          </option>
	                      	<option value="29">Botswana                                                    </option>
	                      	<option value="30">Brasil                                                      </option>
		                      <option value="31">Brunei                                                      </option>
		                      <option value="32">Bulgaria                                                    </option>
		                      <option value="33">Burkina-Faso (Alto Volta)                                   </option>
		                      <option value="34">Burundi                                                     </option>
		                      <option value="35">Chad                                                        </option>
		                      <option value="36">Checoslovaquia                                              </option>
		                      <option value="37">Chile                                                       </option>
		                      <option value="38">China (Rep&#250;blica Popular)                              </option>
		                      <option value="39">Chipre                                                      </option>
		                      <option value="40">Cabo Verde                                                  </option>
		                      <option value="41">Camer&#250;n                                                </option>
		                      <option value="42">Canad&#225;                                                 </option>
		                      <option value="43">Cisjordania                                                 </option>
		                      <option value="44">Ciudad de Vaticano                                          </option>
		                      <option value="45">Colombia                                                    </option>
		                      <option value="46">Comores                                                     </option>
		                      <option value="47">Congo                                                       </option>
		                      <option value="48">Corea del Norte                                             </option>
		                      <option value="49">Corea del Sur                                               </option>
	                      	<option value="50">Costa de Marfil                                             </option>
	                      	<option value="51">Costa Rica                                                  </option>
                      		<option value="52">Croacia                                                     </option>
                      		<option value="53">Cuba                                                        </option>
                      		<option value="54">Dinamarca                                                   </option>
                      		<option value="55">Djibuti                                                     </option>
	                      	<option value="56">Dominica                                                    </option>
                      		<option value="57">Ecuador                                                     </option>
                      		<option value="58">Egipto                                                      </option>
	                      	<option value="59">El Salvador                                                 </option>
                          <option value="60">Emiratos &#193;rabes Unidos                                      </option>
                          <option value="61">Eritrea                                                     </option>
		                      <option value="62">Eslovaquia                                                  </option>
		                      <option value="63">Eslovenia                                                   </option>
		                      <option value="64">Espa&#241;a                                                      </option>
		                      <option value="65">Estados Unidos de Am&#233;rica                                   </option>
		                      <option value="66">Estonia                                                     </option>
		                      <option value="67">Etiop&#237;a                                                     </option>
		                      <option value="68">Fidji                                                       </option>
		                      <option value="69">Filipinas                                                   </option>
		                      <option value="70">Finlandia                                                   </option>
                          <option value="71">Francia                                                     </option>
                      		<option value="72">Franja de Gaza                                              </option>
		                      <option value="73">Gab&#243;n                                                       </option>
		                      <option value="74">Gambia                                                      </option>
	                       	<option value="75">Georgia                                                     </option>
	                      	<option value="76">Ghana                                                       </option>
	                      	<option value="77">Gibraltar                                                   </option>
		                      <option value="78">Gran Breta&#241;a                                                </option>
		                      <option value="79">Granada                                                     </option>
                      		<option value="80">Grecia                                                      </option>
	                      	<option value="81">Guatemala                                                   </option>
		                      <option value="82">Surinam                                                     </option>
		                      <option value="83">Guayana Francesa                                            </option>
		                      <option value="84">Guinea                                                      </option>
		                      <option value="85">Guinea Ecuatorial                                           </option>
		                      <option value="86">Guinea Bissau                                               </option>
		                      <option value="87">Guyana                                                      </option>
		                      <option value="88">Hait&#237;                                                       </option>
		                      <option value="89">Holanda (Paises Bajos)                                      </option>
		                      <option value="90">Honduras                                                    </option>
		                      <option value="91">Hong Kong                                                   </option>
		                      <option value="92">Hungr&#237;a                                                     </option>
		                      <option value="93">India                                                       </option>
		                      <option value="94">Indonesia                                                   </option>
		                      <option value="95">Ir&#225;n                                                        </option>
		                      <option value="96">Irak                                                        </option>
	                       	<option value="97">Irlanda (Eire)                                              </option>
	                      	<option value="98">Islandia                                                    </option>
		                      <option value="99">Islas Camares                                               </option>
		                      <option value="100">Islas Salom&#243;n                                               </option>
		                      <option value="101">Israel                                                      </option>
		                      <option value="102">Italia                                                      </option>
	                       	<option value="103">Jamaica                                                     </option>
	                      	<option value="104">Jap&#243;n                                                       </option>
	                      	<option value="105">Jerusalem                                                   </option>
                      		<option value="106">Jordania                                                    </option>
                          <option value="107">Kampuchea (Camboya)                                         </option>
	                      	<option value="108">Kazajstan                                                   </option>
                          <option value="109">Kenia                                                       </option>
                          <option value="110">Kirguistan                                                  </option>
                      		<option value="111">Kiribati                                                    </option>
	                      	<option value="112">Kuwait                                                      </option>
		                      <option value="113">Laos                                                        </option>
		                      <option value="114">Lesotho                                                     </option>
		                      <option value="115">Letonia                                                     </option>
		                      <option value="116">L&#237;bano                                                      </option>
		                      <option value="117">Liberia                                                     </option>
		                      <option value="118">Libia                                                       </option>
		                      <option value="119">Liechtenstein                                               </option>
		                      <option value="120">Lituania                                                    </option>
	                      	<option value="121">Luxemburgo                                                  </option>
	                      	<option value="122">Macao                                                       </option>
                      		<option value="123">Macedonia                                                   </option>
	                      	<option value="124">Madagascar                                                  </option>
	                      	<option value="125">Malasia                                                     </option>
	                      	<option value="126">Malawi                                                      </option>
		                      <option value="127">Maldivas, islas                                             </option>
		                      <option value="128">Mali                                                        </option>
	                      	<option value="129">Malta                                                       </option>
		                      <option value="130">Marshall,islas                                              </option>
		                      <option value="131">Marruecos                                                   </option>
		                      <option value="132">Mauricio(islas)                                             </option>
		                      <option value="133">Mauritania                                                  </option>
		                      <option value="134">M&#233;jico                                                      </option>
		                      <option value="135">Micronesia                                                  </option>
	                      	<option value="136">Moldavia                                                    </option>
		                      <option value="137">M&#243;naco                                                      </option>
		                      <option value="138">Mongolia                                                    </option>
		                      <option value="139">Mozambique                                                  </option>
		                      <option value="140">Myanmar (Antigua Birmania)                                  </option>
	                      	<option value="141">Namibia                                                     </option>
	                      	<option value="142">Nauru                                                       </option>
		                      <option value="143">Nepal                                                       </option>
	                        <option value="144">Nicaragua                                                   </option>
	                      	<option value="145">Nigeria                                                     </option>
                          <option value="146">N&#237;ger                                                       </option>
	                        <option value="147">Noruega                                                     </option>
	                      	<option value="148">Nueva Zelanda                                               </option>
	                      	<option value="149">Om&#225;n                                                        </option>
	                      	<option value="150">Pakist&#225;n                                                    </option>
	                      	<option value="151">Palau                                                       </option>
	                      	<option value="152">Palestina                                                   </option>
		                      <option value="153">Panam&#225;                                                      </option>
	                      	<option value="154">Pap&#250;a y Nueva Guinea                                        </option>
	                      	<option value="155">Paraguay                                                    </option>
	                       	<option value="156">Per&#250;                                                        </option>
	                       	<option value="157">Polonia                                                     </option>
		                      <option value="158">Portugal                                                    </option>
	                        <option value="159">Puerto Rico                                                 </option>
	                        <option value="160">Qatar                                                       </option>
		                      <option value="161">Reino Unido                                                 </option>
		                      <option value="162">Rep&#250;blica Centroafricana                                    </option>
		                      <option value="163">Rep&#250;blica Checa                                             </option>
		                      <option value="164">Rep&#250;blica Democr&#225;tica del Congo (Antiguo Zaire)             </option>
	                      	<option value="165">Rep&#250;blica Dominicana                                        </option>
		                      <option value="166">Rep&#250;blica Sudafricana                                       </option>
		                      <option value="167">Rep&#250;blica de Guinea                                         </option>
	                      	<option value="168">Ruanda                                                      </option>
	                      	<option value="169">Ruman&#237;a                                                     </option>
		                      <option value="170">RUSIA                                                       </option>
	                      	<option value="171">S&#225;hara Occidental                                           </option>
		                      <option value="172">Samoa Occidental                                            </option>
		                      <option value="173">San Cristobal y Nieves                                      </option>
	                      	<option value="174">San Marino                                                  </option>
	                       	<option value="175">San Vicente y Granadinas                                    </option>
	                      	<option value="176">Santa Luc&#237;a                                                 </option>
                      		<option value="177">Santo Tom&#233; y Pr&#237;ncipe                                       </option>
	                      	<option value="178">Sarawak                                                     </option>
	                      	<option value="179">Senegal                                                     </option>
                      		<option value="180">Seychelles, islas                                           </option>
	                      	<option value="181">Sierra Leona                                                </option>
	                      	<option value="182">Singapur                                                    </option>
	                      	<option value="183">Siria                                                       </option>
	                       	<option value="184">Somalia                                                     </option>
	                      	<option value="185">Sri Lanka (Ceil&#225;n)                                          </option>
	                      	<option value="186">Sud&#225;n                                                       </option>
		                      <option value="187">Suecia                                                      </option>
                          <option value="188">Suiza                                                       </option>
	                      	<option value="189">Surinam                                                     </option>
	                      	<option value="190">Swazilandia                                                 </option>
	                      	<option value="191">Tailandia                                                   </option>
                      		<option value="192">Taiwan                                                      </option>
	                      	<option value="193">Tanzania (Tangania)                                         </option>
	                      	<option value="194">Tanzania (Zanz&#237;bar)                                         </option>
                      		<option value="195">Tayikistan                                                  </option>
	                      	<option value="196">Timor Oriental                                              </option>
	                      	<option value="197">Togo                                                        </option>
	                      	<option value="198">Tonga                                                       </option>
	                      	<option value="199">Trinidad y Tobago                                           </option>
		                      <option value="200">T&#250;nez                                                       </option>
                      		<option value="201">Turkmenistan                                                </option>
	                      	<option value="202">Turqu&#237;a                                                     </option>
                      		<option value="203">Tuvalu                                                      </option>
                       		<option value="204">Ucrania                                                     </option>
	                      	<option value="205">Uganda                                                      </option>
	                      	<option value="206">Uni&#243;n Rep.Soc. Sovi&#233;ticas                                   </option>
	                      	<option value="207">Uni&#243;n Sudafricana                                           </option>
	                      	<option value="208">Uruguay                                                     </option>
                       		<option value="209">UZB                                                         </option>
	                      	<option value="210">Vanuatu                                                     </option>
                          <option value="211">Vaticano                                                    </option>
	                      	<option value="212">Venezuela                                                   </option>
	                      	<option value="213">Vietnam                                                     </option>
                      		<option value="214">Yemen del Norte                                             </option>
	                      	<option value="215">Yemen del Sur                                               </option>
                       		<option value="216">Yugoslavia                                                  </option>
                      		<option value="217">Zaire                                                       </option>
	                      	<option value="218">Zambia                                                      </option>
	                      	<option value="219">Zimbabwe (Rodesia)                                          </option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="align-right">Nacimiento:</td>
                      <td class="align-left">
                        <select name="ctl00$content$DDLMes1" id="content_DDLMes1" style="width:110px;">
                          <option value="1">Enero</option>
		                      <option value="2">Febrero</option>
	                       	<option value="3">Marzo</option>
		                      <option value="4">Abril</option>
		                      <option value="5">Mayo</option>
		                      <option value="6">Junio</option>
		                      <option value="7">Julio</option>
		                      <option value="8">Agosto</option>
		                      <option value="9">Septiembre</option>
		                      <option value="10">Octubre</option>
		                      <option value="11">Noviembre</option>
		                      <option value="12">Diciembre</option>
                        </select>
                        <select name="ctl00$content$DDLDia1" id="content_DDLDia1", style="width:50px;">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                      		<option value="6">6</option>
		                      <option value="7">7</option>
	                      	<option value="8">8</option>
		                      <option value="9">9</option>
	                      	<option value="10">10</option>
	                       	<option value="11">11</option>
	                      	<option value="12">12</option>
		                      <option value="13">13</option>
	                      	<option value="14">14</option>
	                      	<option value="15">15</option>
	                       	<option value="16">16</option>
		                      <option value="17">17</option>
		                      <option value="18">18</option>
	                      	<option value="19">19</option>
	                      	<option value="20">20</option>
	                      	<option value="21">21</option>
	                      	<option value="22">22</option>
	                      	<option value="23">23</option>
                      		<option value="24">24</option>
		                      <option value="25">25</option>
		                      <option value="26">26</option>
                          <option value="27">27</option>
		                      <option value="28">28</option>
		                      <option value="29">29</option>
                          <option value="30">30</option>
	                      	<option value="31">31</option>
                        </select>
                        <td>&nbsp;&nbsp;Año:&nbsp;</td>
                      <td>
                        <input name="ctl00$content$TextBoxAnio1" type="text" id="content_TextBoxAnio1" style="width:50px;" />
                        <span id="content_TextBoxAnio1Validator" style="display:none;"></span>
                        <input type="hidden" name="ctl00$content$ValidatorCalloutExtender3_ClientState" id="content_ValidatorCalloutExtender3_ClientState" />
                        <span id="content_TextBoxAnio1RangeValidator" style="display:none;"></span>
                        <input type="hidden" name="ctl00$content$ValidatorCalloutExtender4_ClientState" id="content_ValidatorCalloutExtender4_ClientState" />
                      </td>
                    </tr>
                    <tr>
                       <td class="align-right">Terminal Origen:</td>
                      <td class="align-left">                        
                        <select name="ctl00$content$DDLMes1" id="content_DDLMes1" style="width:130px;">
                          <% @terminal.each do |u| %>
                            <option><%= u.nombre %> </option>
                          <% end %>
                        </select>
                    </tr>
                      <tr>
                       <td class="align-right">Terminal Destino:</td>
                      <td class="align-left">                        
                        <select name="ctl00$content$DDLMes1" id="content_DDLMes1" style="width:130px;">
                          <% @terminal.each do |u| %>
                            <option><%= u.nombre %> </option>
                          <% end %>
                        </select>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="buttons">
                  <input class="btn btn-primary" style="width: 160px;" type="submit" name="commit" value="Cancelar">
               <input class="btn btn-primary"style="width: 160px;" type="submit" name="commit" value="Recervar">
              </div>
            </div>
          </div>
        </td>
      </tr>
</table>

   

  