
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">     
        <div class="span4">           
          </div>
         <div class="span4">  
          <br>
           <h2>Agregar Terminal</h2>
          <br>
           <%= form_for @terminal, :url => { :action => "create" } do |t| %>
           <p>
            <%= t.label :'nombre' %>
            <%= t.text_field :nombre %><br />
           </p>
             <p>
            <%= t.label :'direccion' %>
            <%= t.text_area :direccion %><br />
           </p>
           
             <p>
            <%= t.label :'telefono' %>
            <%= t.text_field :telefono %><br />
           </p>
           <p>
             <%= t.submit "Agregar" %>
           </p>
           <% end %>        
         </div>
      </div>
  </div>
